<h2>Home</h2>


<form action="details" method="POST">
<p>Which song do you prefer</br> </p>
    <button name="title" type="submit" value="Volcano">Volcano</button>
    <button name="title" type="submit" value="Like A Stone">Like A Stone</button>
    <button name="title" type="submit" value="Let's get it on">Let's get it on</button>

</form>


<form action="details" method="POST">
    <p>Enter the artist of the song that you like</p>
<input type="text" name="title"  required maxlength="100">
    <button>Search</button>
</form>

<form action="add" method="POST">
    <p>Add a song here:</p>
<input type="text" name="title" required maxlength="100">
    <button >Add</button>
</form>